.centerDiv {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.example-full-width {
  margin-left: 20%;
  margin-right: 50%;
  width: 50%;
}
.mainCard {
  margin-left: 20px;
}
.flexFavorite {
  display: flex;
  justify-content: space-between;
}
.matIcon {
  margin-right: 60px;
  align-self: center;
  cursor: pointer;
  font-size: 30px;
}
